.view_todo .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view_todo .top [type="checkbox"] {
  margin-top: -20px;
}

.view_todo .top p {
  margin-top: -10px;
}

.view_todo .top button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-left: 15px;
  outline: none;
}

.view_todo .todos div {
  display: flex;
  align-items: center;
}

.view_todo .des {
  color: tomato;
  margin-top: -12px;
  font-size: 14px;
  font-style: italic;
}

.view_todo section section section button:last-child {
  color: red;
}
