.navbar {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: inherit;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar .right button {
  font-size: 15px;
}

.navbar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.navbar button {
  border: none;
  background: inherit;
  outline: none;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.dropdown {
  display: none;
  position: fixed;
  top: 40px;
  background: #f8f8ff;
  width: 100px;
  height: 70px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  right: 20px;
  font-size: 15px;
}

.navbar .dropdown button {
  font-size: 15px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 10px 0;
}

.navbar .dropdown button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.show {
  display: block;
}
