.App {
  display: grid;
  grid-template-columns: 220px auto;
  background: #f8f8ff;
  min-height: 100vh;
  font-family: arial;
}

.sidebar_hidden {
  grid-template-columns: auto;
}

.sidebar_hidden .sidebar_ {
  display: none;
}

.App button {
  font-family: inherit;
  color: inherit;
}

.App button:hover {
  cursor: pointer;
}

.App button p {
  margin-left: 8px;
}
